@import "colors";
@import "animation";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  font-family: 'Montserrat', SansSerif;
  background-color: $bg-color;
  position: relative;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 4px;
  background-color: $main-color;
  margin: 0 auto 40px;
}

.blue-text {
  color: $main-color;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, .8);

}

nav {
  text-transform: uppercase;

  z-index: 1;
  transition: background-color .6s;

  a, i {
  color: $white;
  }

  a:hover {
    color: $main-color;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    color: $white;
  }

  .active {
    color: $main-color;
  }
}

header {
  color: $white;

  h1 {
    text-transform: uppercase;
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }
}
  .hero-img {
    position: relative;
    height: 100vh;
    background-image: url("../img/playstation-1845880_640.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
  }

  .hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -10;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    z-index: 5;
    padding: 10px;
    text-align: center;
  }

  .btn-outline-light {
    text-transform: uppercase;
  }

  .fa-chevron-down {
    position: absolute;
    font-size: 30px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    color: $white;
  }

  .aboutus {
    i {
      margin-top: 20px;
      font-size: 30px;
    }

    .aboutus-card-title {
      font-size: 18px;
      text-transform: uppercase;
    }

    .aboutus-card-text {
      font-size: 14px;
    }

    .aboutus-hover {
      //transition: color .3s;
    }

    .aboutus-hover:hover {
      color: $main-color;
    }
  }

  .aboutus-hero {
    position: relative;
    background-image: url("../img/technology-2818664_640.jpg");
    background-position: center;
    background-size: cover;
    color: $light-gray;
    z-index: 0;

    .aboutus-shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .7);
      z-index: -5;
    }
  }

  .aboutus-hero-item {
    margin: 10px 0;

    i {
      font-size: 36px;
    }

    .aboutus-hero-title {
      font-size: 24px;
    }
  }

  .portfolio {
    .carousel-item {
      position: relative;
    }

    .carousel-caption {
      position: absolute;
      left: 0;
      right: 0;
      padding: 40px 0;
      background-color: rgba(0, 0, 0, .5);
    }

    .carousel-indicators {
      padding-bottom: 20px;
    }
  }

  .prices {
    .price-box {
      margin: 20px 10px;
      padding: 30px;
      background-color: $white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
      transition: transform .3s;

      h3 {
        color: $main-color;
        text-transform: uppercase;
      }

      span {
        font-weight: bold;
      }

      i {
        font-size: 24px;
        padding: 0 5px;
      }

      button {
        padding: 10px 20px;
        text-transform: uppercase;
      }
      .price-tag {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .price-box:hover {
      transform: scale(1.05);
    }

    .price-info {
      margin-top: 30px;

      a {
        text-decoration: none;
      }
    }
  }

  .team {
    position: relative;
    background-image: url("../img/munich.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    h2 {
      color: $light-gray;
    }

    .team-shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
      z-index: -5;
    }

    .card {
      transition: transform .3s;
      img {
        height: 300px;
        object-fit: cover;
      }

      i {
        padding: 10px;
      }
    }

    .card:hover {
      transform: scale(.96);
    }

    .card-title {
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .achievements {
    i {
      padding: 10px;
      font-size: 48px;
      color: $white;
      text-shadow: 0 0 5px #000;
    }

    .achievements-list {
      padding: 20px 0;
    }

    .achievements-number {
      font-size: 22px;
    }

    .achievements-text {
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .contact {
    position: relative;
    background-image: url("../img/krakow-1665081_1920.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;

    h2 {
      color: $light-gray;
      font-weight: bold;
    }

    .underline {
      background-color: $light-gray;
    }

    .contact-shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 9, 27, .5);
      z-index: -5;
    }

    .contact-us {
      color: $white;
      display: flex;
      align-items: center;

      .contact-item {
        margin-bottom: 30px 0;

        h3 {
          margin-bottom: 15px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        .social-media {
          font-size: 26px;

          a {
            transition: transform .3s;
            padding: 10px;
            color: $white;
          }

          a:hover {
            color: $light-gray;
          }
        }
      }
    }
  }

@media (min-width: 375px) {
    header {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 16px;
      }
    }
  }

@media (min-width: 768px) {
  header {
    h1 {
      font-size: 42px;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }

  .aboutus-hero {
    background-image: url("../img/technology-2818664.jpg");
  }

  .prices {
    .price-info {
      font-size: 18px;
    }
  }
}

@media (min-width: 1200px) {
    header {
      .hero-img {
        background-image: url("../img/playstation-1845880_1920.jpg");
      }
    }
  
}
